@charset "UTF-8";


@media (min-width: 1188px) {

    #myIcon {

        width:140px;
        height:140px;

        padding-top: 1px;
        padding-bottom: 1px;
        padding-left: 1px;
        padding-right: 1px;
        background-color: skyblue;
        margin-right: 40px;
        text-align:center;
        line-height: 80px;
        float: left;
        border-radius: 100%;

        position:fixed; top:5px;; left:5px;
    }

    

    

    #usenName {
        height: 60px;
        width: 500px;
        font-size: 50px;
        margin-bottom: 0px;
        padding-bottom: 0px;

        position:fixed; top:4px; left:150px;
    }

    #userId {
        height:0px;
        width:0px;
        margin-top: 0px;
        color: rgb(128,128,128);

        position:fixed; top:8px; left:150px;
    }

    .follow {
        font-size:19px;
        border: solid 3px #cce4ff;
        border-left: 20%;
        /* width: 120px; */
        margin-left: 0px;
        margin-top: 0px;
        border-radius: 5%;
        /* float: left; */
        display:inline;

        position:fixed; top:12%; left:12%;
    }

    .follow:hover {
        background-color: #fff;
        border-color: #59b1eb;
        color: #59b1eb;
    }

    .follower {
        font-size:19px;
        border: solid 3px #cce4ff;
        /* border-left: 20%; */
        /* width: 120px; */
        margin-left: 0px;
        margin-top: 0px;
        margin-right:20px;
        border-radius: 5%;
        /* display:inline-block; */
        position:fixed; top:12%; left:22%;

    }

    .follower:hover {
        background-color: #fff;
        border-color: #59b1eb;
        color: #59b1eb;
    }

    .setButton {
        padding:0px 30px 0px 30px;
        /* margin-left:450px;

        margin-bottom: 300px; */ 

        background-color: #59b1eb;
        border: 1px solid #59b1eb;
        border-radius:10px;
        color: #fff;
        line-height: 30px;
        display: table-cell;

        position: fixed; top:8%; left:43%;
    }

    .setButton:hover {
        background-color: #fff;
        border-color: #59b1eb;
        color: #59b1eb;
    }

    .bar1 {
        border-bottom: solid 3px #cce4ff;
        width:100%;
        position: fixed; top:135px; 
    }
    /* hr:after {
        position: absolute;
        content: " ";
        display: block;
        border-bottom: solid 3px #5472cd;
        bottom: -3px;
        width: 20%;
    } */

    .profile {
        width:100%;
        position: fixed; top:190px;
        margin-left:0%;
        text-align: center;
        display:inline-block;
    }

    /* .prof {
        text-align: center;
    } */

    .tweet {
        /* float: left; */
        width:100%;
        position: fixed; top:300px;
        text-align: center;
    }
    

    .btn {
        position: fixed; top:750px; left: 90%

    }
}

@media (min-width: 506px) {

    #myIcon {

        width:140px;
        height:140px;

        padding-top: 1px;
        padding-bottom: 1px;
        padding-left: 1px;
        padding-right: 1px;
        background-color: skyblue;
        margin-right: 40px;
        text-align:center;
        line-height: 80px;
        float: left;
        border-radius: 100%;

        position:fixed; top:5px;; left:5px;
    }

    #usenName {
        height: 60px;
        width: 500px;
        font-size: 50px;
        margin-bottom: 0px;
        padding-bottom: 0px;

        position:fixed; top:4px; left:150px;
    }

    #userId {
        margin-top: 0px;
        color: rgb(128,128,128);

        position:fixed; top:60px; left:150px;
    }

    .follow {
        font-size:23px;
        border: solid 3px #cce4ff;
        border-left: 20%;
        /* width: 120px; */
        margin-left: 100px;
        margin-top: 0px;
        border-radius: 5%;
        /* float: left; */
        display:inline;

        position:fixed; top:115px; left:12%;
    }

    .follow:hover {
        background-color: #fff;
        border-color: #59b1eb;
        color: #59b1eb;
    }

    .follower {
        font-size:23px;
        border: solid 3px #cce4ff;
        /* border-left: 20%; */
        /* width: 120px; */
        margin-left: 200px;
        margin-top: 0px;
        margin-right:20px;
        border-radius: 5%;
        /* display:inline-block; */
        position:fixed; top:115px; left:22%;

    }

    .follower:hover {
        background-color: #fff;
        border-color: #59b1eb;
        color: #59b1eb;
    }

    .setButton {
        padding:0px 30px 0px 30px;
        /* margin-left:450px;

        margin-bottom: 300px; */ 

        background-color: #59b1eb;
        border: 1px solid #59b1eb;
        border-radius:10px;
        color: #fff;
        line-height: 30px;
        display: table-cell;

        position: fixed; top:8%; left:43%;
    }

    .setButton:hover {
        background-color: #fff;
        border-color: #59b1eb;
        color: #59b1eb;
    }

    .bar1 {
        border-bottom: solid 3px #cce4ff;
        width:100%;
        position: fixed; top:135px; 
    }
    /* hr:after {
        position: absolute;
        content: " ";
        display: block;
        border-bottom: solid 3px #5472cd;
        bottom: -3px;
        width: 20%;
    } */

    .profile {
        width:100%;
        position: fixed; top:190px; 
        margin-left:0%;
        text-align: center;
        display:inline-block;
    }

    /* .prof {
        text-align: center;
    } */

    .tweet {
        /* float: left; */
        width:100%;
        position: fixed; top:300px;
        text-align: center;
    }

    .btn {
        position: fixed; top:750px; left: 90%

    }
}

@media (max-width: 650px) {
    #myIcon {

        width:50px;
        height:50px;

        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        background-color: skyblue;
        margin-right: 40px;
        text-align:center;
        line-height: 80px;
        float: left;
        border-radius: 100%;

        position:fixed; top:10px;; left:5px;
    }

    #usenName {
        height: 60px;
        width: 500px;
        font-size: 35px;
        margin-bottom: 0px;
        padding-bottom: 0px;

        position:fixed; top:4px; left:70px;
    }

    #userId {
        margin-top: 0px;
        color: rgb(128,128,128);

        position:fixed; top:40px; left:70px;
    }

    .follow {
        font-size:20px;
        border: solid 3px #cce4ff;
        border-left: 20%;
        /* width: 120px; */
        margin-left: 0px;
        margin-top: 0px;
        border-radius: 5%;
        float: left;
        display:inline-block;

        position:fixed; top:94px; left:25px;
    }

    .follow:hover {
        background-color: #fff;
        border-color: #59b1eb;
        color: #59b1eb;
    }

    .follower {
        font-size:20px;
        border: solid 3px #cce4ff;
        /* border-left: 20%; */
        /* width: 120px; */
        margin-left: 0px;
        margin-top: 0px;
        margin-right:20px;
        border-radius: 5%;
        display:inline-block;
        position:fixed; top:94px; left:170px;

    }

    .follower:hover {
        background-color: #fff;
        border-color: #59b1eb;
        color: #59b1eb;
    }

    .setButton {
        padding:0px 30px 0px 30px;
        /* margin-left:450px;

        margin-bottom: 300px; */ 

        background-color: #59b1eb;
        border: 1px solid #59b1eb;
        border-radius:10px;
        color: #fff;
        line-height: 30px;
        display: table-cell;

        position: fixed; top:94px; left:320px;
    }

    .setButton:hover {
        background-color: #fff;
        border-color: #59b1eb;
        color: #59b1eb;
    }

    .bar1 {
        border-bottom: solid 3px #cce4ff;
        width:100%;
        position: fixed; top:110px; 
    }
    
    /* hr:after {
        position: absolute;
        content: " ";
        display: block;
        border-bottom: solid 3px #5472cd;
        bottom: -3px;
        width: 20%;
    } */

    .profile {
        /* width:100%; */
        width:100%;

        position: fixed; top:190px; 
        margin-left:0%;
        text-align: center;
        display:inline-block;
    }

    /* .prof {
        text-align: center;
    } */

    .tweet {
        /* float: left; */
        width:100%;
        position: fixed; top:300px;
        text-align: center;
    }

    

    .btn {
        position: fixed; top:750px; left: 90%

    }

}

