@charset "utf-8";

input, button, textarea, select {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

ul {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.profile {
    width: 1080px;
    height: auto;
    margin: 0 auto;
}

#wrap {
    margin: 60px 0 0 0;
}

.image img {
    height: 180px;
    width: 180px;
    margin: 20px 50px 30px 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #eee;
    float: left;
}

.user {
}

.user li {
    display: inline;
}

.user .user-name {
    margin: 0 50px 20px 0;
    font-size: 50px;
    font-family: "Kokoro";
}

.user .user-edit {
    cursor: pointer;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 2px;
}

.user .user-edit:hover {
    background-color: #eee;
}

.user .user-edit:active {
    opacity: 1;
}

.follows {
    margin-top: 70px;
}

.follows li {
    padding: 10px;
    display: inline;
    border: 1px solid #000;
    border-radius: 2px;
    cursor: pointer;
}

.follows li:hover {
    background-color: #eee;
}

.follows li:active {
    opacity: 1;
}

.follows .follow {
    margin: 0 40px 0 0;
}

.follows .follower {
    margin-right: 100px;
}   

.pro-txt {
    text-align: center;
    clear: both;
}

.my-profile {
    clear: both;
    width: 740px;
    height: auto;
    padding: 20px;
    margin: 40px auto 40px auto;
    border: 2px solid #ccc;
    /* border-radius: 3em .5em 2em .5em/.4em 2em .5em 3em; */
    border-radius: 5px; 
    font-size: 18px;
    font-family:  "游ゴシック", "YuGothic", "メイリオ", meiryo, sans-serif;
}

.pro-content {    
}

hr {
    box-shadow: 0px 6px 3px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 6px 3px rgba(0,0,0,0.6);
}

.btn-real-dent {
    border-radius: 10%;
}

.tweets {
    clear: both;
}
.noFollow{
    resize: none;
    width: 160px;
    border: 2px solid #ccc;
    padding: 10px;
    transition: border 0.5s;
    border-radius: 5px;
    font-size: 13px;
}
.nowFollow{
    resize: none;
    width: 160px;
    border: 2px solid #3cb371;
    padding: 10px;
    transition: border 0.5s;
    border-radius: 5px;
    font-size: 13px;
}
.noFollow:hover{
    resize: none;
    width: 150px;
    border: 2px solid #87cefa;
    padding: 10px;
    transition: border 0.5s;
    border-radius: 5px;
    font-size: 13px;
}
.nowFollow:hover{
    resize: none;
    width: 150px;
    border: 2px solid #ff7f50;
    padding: 10px;
    transition: border 0.5s;
    border-radius: 5px;
    font-size: 13px;
}

.btn-toFollow{
    background: paleturquoise;
    color:  snow;
}
