input, button, textarea, select {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
  
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight:lighter;
}

button {
    cursor: pointer;
    font-size: 18px;
    border: 1px solid #fff;
    color: #fff;
    opacity: 0.8;
}

body {

    background-image: url("/images/toop.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(255,255,255,0.5);
}

#wrap {
    width: 1080px;
    height: auto;
    margin: 0 auto;
}

.content {
   width: 80%;
   height: auto;
   margin: 250px auto 0 auto;
   text-align: center;
}

.image-m {
    position: absolute;
    margin-top: 210px;
    margin-left: 750px;
    width: 210px;
    height: 200px;
}

.image-m:hover {
    opacity: 0.5;
    border-radius: 100%;
    background-image: url("/images/イニエスタ.jpg");
}

.image-ini {
    position: absolute;
    width: 270px;
    height: 330px;
    margin-right: 200px;
}

.image-ini:hover {
    opacity: 0.5;
    border-radius: 100%;
    background-image: url("/images/ini.jpg"); 
}

.title {
   color: #fff;
   font-size: 18px;
   opacity: 0.8;
}

.title .app-name {
   font-size: 140px;
   font-family: 'Vibes', cursive;
   font-family: 'Josefin Sans', sans-serif;
   font-family: 'Caveat', cursive;
  }

.btn-group {
    margin: 80px 0;
}


.btn-signup {
    position: relative;
    transition: all .3s;

    padding: 14px 20px;
    margin: 0 20px 0 0;
}
.btn-signup::before,
.btn-signup::after {
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    z-index: 2;
    content: '';
    transition: all .3s;
}
.btn-signup::before {
    border-top: 2px solid #f8b862;
    border-bottom: 2px solid #f8b862;
    transform: scale(0, 1);
}
.btn-signup::after {
    border-right: 2px solid #f8b862;
    border-left: 2px solid #f8b862;
    transform: scale(1, 0);
}
.btn-signup:hover {
    color: #f8b862;
}
.btn-signup:hover::after,
.btn-signup:hover::before {
    transform: scale(1);
}


.btn-login {
    position: relative;
    transition: all .2s;

    padding: 14px 40px;
    margin: 0 0 0 20px;
}
.btn-login::before,
.btn-login::after {
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    z-index: 2;
    content: '';
    transition: all .3s;
}
.btn-login::before {
    border-top: 2px solid #83ccd2;
    border-bottom: 2px solid #83ccd2;
    transform: scale(0, 1);
}
.btn-login::after {
    border-right: 2px solid #83ccd2;
    border-left: 2px solid #83ccd2;
    transform: scale(1, 0);
}
.btn-login:hover {
    color: #83ccd2;
}
.btn-login:hover::after,
.btn-login:hover::before {
    transform: scale(1);
}
