input, button, textarea, select {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

ul {
    list-style: none;
    display: flex;
}

textarea {
    resize: none;
    border: 2px solid #ccc;
    padding: 10px;
    transition: border 0.5s;
    border-radius: 5px;
    font-size: 18px;
}

textarea:focus  {
    border: 2px solid rgb(165, 160, 160);
}

.tweetText {
    width: 90%;
}

input[type="file"] {
    cursor: pointer;
}

#wrap {
    width: 100%;
    height: auto;
    text-align: center;
    margin: 40px auto;
}

.myTweet {
    margin: 0 0 30px 0;
}

.myIcon {
    width: 90px;
    height: 90px; 
    margin:0 10px 25px 0;
    border-radius: 100%;
    text-align: left;
    object-fit: cover;
}

label {
    width: 60px;
    height: 60px;
    opacity: 0.8;
    cursor: pointer;
    display: block;
  }
  
  label:hover {
    opacity: 1;
  }
  
  #tweetFile {
    display: none;
  }
  
  #replyFile {
    display: none;
  }

.filelabel {
    margin-left: 250px;
    opacity: 0.7;
}

.filelabel:hover {
    cursor: pointer;
    opacity: 1;
}

#file {
    display: none;
}

.content {
    width: 90%;
    height: auto;
    margin: 0 auto;
}

.contentReply {
    width: 90%;
    height: auto;
    margin: 40px auto 0 auto;
}

.tw {
    width: 50%;
    height: auto;
    margin-left: auto;
}

.content #newTweet {
    padding: 10px 20px;
    margin: 7px 0 0 10px;
}

.content #newTweet:hover {
    background-color: #eee;
}

.contentReply #replySend {
    margin: 7px 10px 0 10px;
}

.tweet-image {
    clear: both;
    margin-top: 30px;
}

.pre {
    border-bottom: 1px solid #000;
}

.preview-image img {
    width: 200px;
    height: 200px;
    border: 1px solid #eee;
    margin: 0 5px;
    object-fit: cover;
}
