/*タブ切り替えの中身のスタイル*/

.tab_content {
  /* display: none; */
  padding-top: 10px;
  clear: both;
  overflow: hidden;
}

.tab_content {
  /* display: none; */
  padding-top: 10px;
  clear: both;
  overflow: hidden;
}

/* プロフィール */
.profilePro {
  padding-left:45px;
}

  /* リストのアイコン削除 */
.list_none{
  list-style:  none; 
}

/* ユーザID */
.word_btn {
	/* display: block; */
	position: relative;
	text-align: center;
	text-decoration: none;
  color: #347ff0;
  background: none;
  border: 0;
}

/* ユーザ画像円形 */
img.userIcon {
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  width:  80px;       /* ※縦横を同値に */
  height: 80px;       /* ※縦横を同値に */
  margin-right: 5px;
  margin-bottom: 5px;
}

.uName{
  position: relative ; 
  left : 40px;
  bottom  : 22px;
}

.follow-btn-group{
  padding-top: 6%;
  padding-right: 3%;
}
